section {
	text-align : center;
}

.profile .avatarContainer {
	display:inline-block;
	height : 150px;
	width : 150px;
	overflow : hidden;
}
.profile .dataContainer{
		display:inline-block;
		text-align : left;
		

}
.profile img {
	height : 150px;
	width : auto;
}

.border-select{
		border: 3px solid purple;
}

.itemImage {
	display : inline-block;
}

.itemImage img{
	height : 150px;
	width : auto;
	margin : 10px;
}