section {
  text-align: center;
}

.profile .avatarContainer {
  display: inline-block;
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.profile .mainBlock {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  padding: 100px;
  margin-top : 50px;
  font-size:15px;
}
.profile .dataUser input {
  margin: 10px;
  display: block;
}
.profile .stat {
  text-align: left;
}
.profile img {
  height: 150px;
  width: auto;
}

.profile .md-button {
	display : block;
	text-align: center;
    margin: auto;
}
.profile .bouton {
	text-align : left;
	
}

.profile .bouton .md-button {
	margin : 0;
	margin-bottom : 20px;
	margin-top : 20px;
}

.profile a:hover {
	text-decoration:none;
}

.profile .avatarBlock .md-button{
		margin-bottom : 20px;
	margin-top : 20px;
}