@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700);
html, body {
	margin:0;
	padding:0;
	background-image: linear-gradient(to bottom right, white, rgba(73, 10, 61,0.4));
	background-attachment: fixed;
	height:100%;
}

h2 {
	font-family: "mp";
}

.loading {
	background-color: rgba(255, 255, 255, 0.3);
	text-align: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	z-index: 3;
}

md-progress-circular {
	text-align: center;
	margin: auto;
	position: relative;
	top:50vh;
	margin-top: -60px;
	margin-left: -140px;
}

.main_content{
	padding-bottom: 50px;
	padding-top: 85px;
}

.layout-fill{
	width: auto;
}
