md-dialog .md-dialog-content{
	padding:0;
}

.closeModal{
	font-size : 30px;
	color : rgba(0,0,0,0.5);
	position : absolute;
	top : 10px;
	right : 10px;
}

.headerModal{
	padding : 10px;
	display: inline-block;
}
.kitsukeAvatar{
	height : 50px;
	width : auto;
	display : inline-block;
	vertical-align : baseline;
	margin-left : 15px;
}

.description {
	display: inline-block;
}

.modalKitsuke{
	float:left;
	max-height :80vh;
	max-width : 40vw;
}

.comment-space{
	height:55vh;
	padding : 10px;
	overflow : auto;
}

.comment-space .comAvatar {
	height : 50px;
	width : auto;
	float : left;
	padding-right : 15px;
}