<section class="inlineSection addCard">
	<h2>Add new item</h2>
	<p class="warning">{{message}}</p>
	<p>
		<md-radio-group ng-model="item.sex">
			<md-radio-button value=0> Male</md-radio-button>
			<md-radio-button value=1> Female</md-radio-button>
		</md-radio-group>
	</p>

	<p>
		<md-radio-group ng-model="item.what">
			<md-radio-button ng-repeat="stuff in stuffs" value="{{stuff.Id}}"> {{stuff.Name}} </md-radio-button>
		</md-radio-group>

	</p>

	<div class="md-padding" ng-cloak ng-if="item.sex == 1 && item.what == 1" class="animate-if">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="item.style">
				<md-option ng-repeat="style in styles |filter:{Gender:false, ItemType:1}" value="{{style.Id}}">{{style.Name}}</md-option>
			</md-select>
		</md-input-container>
	</div>
	</div>


	<div class="md-padding" ng-cloak ng-if="item.sex == 0 && item.what== 1 ">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="item.style">
				<md-option ng-repeat="style in styles |filter:{Gender:true, ItemType:1}" value="{{style.Id}}">{{style.Name}}</md-option>

			</md-select>
		</md-input-container>
	</div>


	<div class="md-padding" ng-cloak ng-if="item.sex == 1 && item.what== 2">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="item.style">
				<md-option ng-repeat="style in styles |filter:{Gender:false, ItemType:2}" value="{{style.Id}}">{{style.Name}}</md-option>

			</md-select>
		</md-input-container>
	</div>


	<div class="md-padding" ng-cloak ng-if="item.sex == 0 && item.what== 2">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="obiStyle">
				<md-option ng-repeat="style in styles |filter:{Gender:true, ItemType:2}" value="{{style.Id}}">{{style.Name}}</md-option>
			</md-select>
		</md-input-container>
	</div>

	<md-input-container>
		<label>What color ?</label>
		<md-select ng-if="item.sex && item.what" class="editColor" ng-model="item.color">
			<md-option ng-repeat="color in colors" value="{{color.Id}}">{{color.Name}}</md-option>
		</md-select>
	</md-input-container>



	<div class=" motifBox md-padding" ng-if="item.sex && item.what">
		<label class="motifLabel">Which Kind of motif?</label>
		<md-checkbox ng-model="animals" aria-label="Animals">Animals</md-checkbox>
		<md-checkbox ng-model="plants" aria-label="Plants">Plants & FLowers</md-checkbox>
		<md-checkbox ng-model="geometrics" aria-label="Geometrics">Geometrics</md-checkbox>
		<md-checkbox ng-model="objects" aria-label="objects">Peoples & Objects</md-checkbox>

		<fieldset class="standard" ng-if="animals">
			<legend>Animals</legend>
			<md-checkbox ng-repeat="motif in motifs |filter:{Style:'Animals'}" name="selectedMotif[]" value="{{motif.Id}}" ng-model="motif.selected">{{motif.JapaneseName}} / {{motif.EnglishName}}</md-checkbox>
			<md-checkbox ng-model="other">other</md-checkbox>
			<md-input-container ng-if="other">
				<label>Motif name ?</label>
				<input type="text" ng-model="motifNew" />
		</fieldset>

		<fieldset class="standard" ng-if="plants">
			<legend>Plants & FLowers</legend>
			<md-checkbox ng-repeat="motif in motifs | filter: {Style:'Plants'}" name="selectedMotif[]" value="{{motif.Id}}" ng-model="motif.selected">{{motif.JapaneseName}} / {{motif.EnglishName}}</md-checkbox>
			<md-checkbox ng-model="other">other</md-checkbox>
			<md-input-container ng-if="other">
				<label>Motif name ?</label>
				<input type="text" ng-model="motifNew" />
		</fieldset>
		<fieldset class="standard" ng-if="geometrics">
			<legend>Geometrics</legend>
			<md-checkbox ng-repeat="motif in motifs | filter:{Style:'Geometrics'}" name="selectedMotif[]" value="{{motif.Id}}" ng-model="motif.selected">{{motif.JapaneseName}} / {{motif.EnglishName}}</md-checkbox>
			<md-checkbox ng-model="other">other</md-checkbox>
			<md-input-container ng-if="other">
				<label>Motif name ?</label>
				<input type="text" ng-model="motifNew" />
		</fieldset>
		<fieldset class="standard" ng-if="objects">
			<legend>Peoples & Objects</legend>
			<md-checkbox ng-repeat="motif in motifs | filter: {Style:'Objects'}" name="selectedMotif[]" value="{{motif.Id}}" ng-model="motif.selected"> {{motif.JapaneseName}} / {{motif.EnglishName}}</md-checkbox>
			<md-checkbox ng-model="other">other</md-checkbox>
			<md-input-container ng-if="other">
				<label>Motif name ?</label>
				<input type="text" ng-model="motifNew" />
			</md-input-container>

		</fieldset>
	</div>
	<div>
		<input class="ng-hide" id="input-file-id" type="file" accept="image/*" ng-file-select="onFileSelect($files)" my-var="imageSrc" />
		<label for="input-file-id" class="md-button md-raised md-warn">Photo</label>
	</div>
	<img class="overview" ng-if='imageSrc' ng-src="{{imageSrc}}" />
	<div>
		<md-button class=" upload-button md-raised md-warn" ng-click="newItemAdd()"> Upload </md-button>
	</div>
	<a href="#/tansu/:{{profile.pseudo}}/edit">
		<md-button class=" back-button md-raised md-accent"> Back to edit </md-button>
	</a>
</section>
