<section class="inlineSection addCard">
	<h2>Add new item</h2>
	<p>
		<md-radio-group ng-model="item.sex">
			<md-radio-button value="male"> Male</md-radio-button>
			<md-radio-button value="female"> Female</md-radio-button>
		</md-radio-group>

	</p>

	<p>
		<md-radio-group ng-model="item.what">
			<md-radio-button value="kimono"> Kimono </md-radio-button>
			<md-radio-button value="obi" /> Obi</md-radio-button>
		</md-radio-group>

	</p>

	<div class="md-padding" ng-cloak ng-if="item.sex === 'female' && item.what === 'kimono'" class="animate-if">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="kimonoStyle">
				<md-option value="furisode">Furisode</md-option>
				<md-option value="tomesode">Tomesode</md-option>
				<md-option value="houmongi">Houmongi</md-option>
				<md-option value="Iromuji">Iromuji</md-option>
				<md-option value="Komon">Komon</md-option>
				<md-option value="yukata">Yukata</md-option>
				<md-option value="kakeshita">Kakeshita</md-option>
				<md-option value="uchikake">Uchikake</md-option>
			</md-select>
		</md-input-container>
	</div>
	</div>

	<div class="md-padding" ng-cloak ng-if="item.sex === 'male' && item.what==='kimono'">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="kimonoStyle">
				<md-option value="Iromuji">Iromuji</md-option>
				<md-option value="Komon">Komon</md-option>
				<md-option value="yukata">Yukata</md-option>
			</md-select>
		</md-input-container>
	</div>


	<div class="md-padding" ng-cloak ng-if="item.sex === 'female' && item.what==='obi'">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="obiStyle">
				<md-option value="karu">Maru</md-option>
				<md-option value="fukuro">Fukuro</md-option>
				<md-option value="nagoya">Nagoya</md-option>
				<md-option value="hanhaba">Hanhaba</md-option>
				<md-option value="heko">Heko</md-option>
			</md-select>
		</md-input-container>
	</div>


	<div class="md-padding" ng-cloak ng-if="item.sex === 'male' && item.what==='obi'">
		<md-input-container>
			<label>What kind ?</label>
			<md-select ng-model="obiStyle">
				<md-option value="karu">Kaku</md-option>
				<md-option value="heko">Heko</md-option>
			</md-select>
		</md-input-container>
	</div>

	<md-input-container>
		<label>What color ?</label>
		<md-select ng-if="item.sex && item.what" class="editColor" ng-model="colorItem">
			<md-option value="black">Black</md-option>
			<md-option value="grey">Grey</md-option>
			<md-option value="white">White</md-option>
			<md-option value="blue">Blue</md-option>
			<md-option value="purple">Purple</md-option>
			<md-option value="pink">Pink</md-option>
			<md-option value="red">Red</md-option>
			<md-option value="orange">Orange</md-option>
			<md-option value="yellow">Yellow</md-option>
			<md-option value="green">Green</md-option>
			<md-option value="gold">Gold</md-option>
			<md-option value="silver">Silver</md-option>
		</md-select>
	</md-input-container>

	<div class=" motifBox md-padding" ng-if="item.sex && item.what">
		<label class="motifLabel">Which motif?</label>
		<md-checkbox ng-model="animals" aria-label="animals">Animals</md-checkbox>
		<md-checkbox ng-model="plantes" aria-label="plantes">Plantes & FLowers</md-checkbox>
		<md-checkbox ng-model="geometrics" aria-label="geometrics">Geometrics</md-checkbox>
		<md-checkbox ng-model="objects" aria-label="objects">Peoples & Objects</md-checkbox>



		<fieldset class="standard" ng-if="animals">
			<legend>Animals</legend>
			<md-checkbox ng-model="motifs.animals.ayu">Ayu / Fish</md-checkbox>
			<md-checkbox ng-model="motifs.animals.chou">Chou / Butterfly</md-checkbox>
			<md-checkbox ng-model="motifs.animals.ebi">Ebi / Lobster</md-checkbox>
			<md-checkbox ng-model="motifs.animals.hotaru">hotaru / Luciola</md-checkbox>
		</fieldset>

		<fieldset class="standard" ng-if="plantes">
			<legend>Plantes & Flowers</legend>
			<md-checkbox ng-model="motifs.plantes.ayame">Ayame / Iris</md-checkbox>
		</fieldset>
		<fieldset class="standard" ng-if="geometrics">
			<legend>Geometrics</legend>
			<md-checkbox ng-model="motifs.geo.seigaiha">Seigaiha / vagues</md-checkbox>
		</fieldset>
		<fieldset class="standard" ng-if="objects">
			<legend>Peoples & Objects</legend>
			<md-checkbox ng-model="motifs.object.bangasa">Bangasa / Ombrella</md-checkbox>
			<md-checkbox ng-model="motifs.object.bunko">Bunko / Books </md-checkbox>
			<md-checkbox ng-model="motifs.object.byobu">Byubo / Screen </md-checkbox>
			<md-checkbox ng-model="motifs.object.Chayatsuji">Chayatsuji / Tea House </md-checkbox>
			<md-checkbox ng-model="motifs.object.choji">Chōjū-jinbutsu-giga / sketch </md-checkbox>
			<md-checkbox ng-model="motifs.object.daruma">Daruma</md-checkbox>
			<md-checkbox ng-model="motifs.object.fue">Fue / flute</md-checkbox>
			<md-checkbox ng-model="motifs.object.fune">Fune / boat</md-checkbox>
			<md-checkbox ng-model="motifs.object.genjiguruma">Genjiguruma / Wheel</md-checkbox>
			<md-checkbox ng-model="motifs.object.Goshoguruma">Goshoguruma / Royal car</md-checkbox>
			<md-checkbox ng-model="motifs.object.hanabi">Hanabi / Firework</md-checkbox>
			<md-checkbox ng-model="motifs.object.hanafuda">Hanafuda / Card Game</md-checkbox>
			<md-checkbox ng-model="motifs.object.other">other</md-checkbox>
			<md-input-container ng-if="motifs.object.other">
				<label>Motif name ?</label>
				<input type="text" ng-model="motifs.object.new" />
			</md-input-container>

		</fieldset>
	</div>
	<div>
		<input class="ng-hide" id="input-file-id" type="file" ng-file-select="onFileSelect($files)" my-var="imageSrc" />
		<label for="input-file-id" class="md-button md-raised md-warn">Photo</label>
	</div>
	<img class="overview" ng-if='imageSrc' ng-src="{{imageSrc}}" />
	<div>
		<md-button class=" upload-button md-raised md-warn"> Upload </md-button>
	</div>
	<a href="#/tansu/:{{profile.pseudo}}/edit">
		<md-button class=" back-button md-raised md-accent"> Back to edit </md-button>
	</a>
</section>
