<section class="browse" ng-class="{'showSearchSection':searchShow,'hideSearchSection':!searchShow}" >
  <div class="sortBlock" ng-class="{'hideSearch':!searchShow}" >
    <div class="sort sortKimono">
      <h4>Kimono</h4>
      <md-input-container>
        <label>Style ?</label>
        <md-select ng-model="kimono.style" ng-change="filter()">
          <md-option ng-repeat="style in styles |filter:{Gender:false, ItemType:1}" value="{{style.Id}}">{{style.Name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Color ?</label>
        <md-select class="editColor" ng-model="kimono.color">
          <md-option ng-repeat="color in colors" value="{{color.Id}}">{{color.Name}}</md-option>
        </md-select>
      </md-input-container>

      <md-chips ng-model="selectedKimonoMotifs" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch" md-autoselect="true" md-max-chips=1>
        <md-autocomplete ng-hide="selectedKimonoMotifs.length > 0" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Search for motifs">
          <span md-highlight-text="searchText">{{item.EnglishName}} // {{item.JapaneseName}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
      <strong>{{$chip.EnglishName}}</strong>
      <em>({{$chip.JapaneseName}})</em>
    </span>
        </md-chip-template>
      </md-chips>



    </div>
    <div class="sort sortObi">
      <h4>Obi</h4>
      <md-input-container>
        <label>Style ?</label>
        <md-select ng-model="obi.style">
          <md-option ng-repeat="style in styles |filter:{Gender:false, ItemType:2}" value="{{style.Id}}">{{style.Name}}</md-option>
          <md-option value="Kaku">Kaku</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Color ?</label>
        <md-select class="editColor" ng-model="obi.color">
          <md-option ng-repeat="color in colors" value="{{color.Id}}">{{color.Name}}</md-option>
        </md-select>
      </md-input-container>

      <md-chips ng-model="selectedObiMotifs" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch" md-autoselect="true" md-max-chips=1 >
        <md-autocomplete ng-hide="selectedObiMotifs.length > 0" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Search for motifs">
          <span md-highlight-text="searchText">{{item.EnglishName}} // {{item.JapaneseName}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
      <strong>{{$chip.EnglishName}}</strong>
      <em>({{$chip.JapaneseName}})</em>
    </span>
        </md-chip-template>
      </md-chips>
    </div>
    <div class="sort sortOther">
      <h4>Order by </h4>
      <md-input-container>
        <md-select ng-model="order">
          <md-option value="new" selected>New first</md-option>
          <md-option value="old">Old First</md-option>
          <md-option value="fav">Most Liked</md-option>
          <md-option value="com">Most commented</md-option>
        </md-select>
      </md-input-container>
    </div>
    <md-button class="browseBtn md-fab md-warn" aria-label="Browse">
      <i class="fa fa-search"></i>
    </md-button>
  <p class="toggle">
  {{messageSearch}}
<md-button ng-click="showSearch()" class=" md-fab md-warn md-mini" aria-label="Browse">
  <i class="fa" ng-class="{'fa-arrow-down':!searchShow, 'fa-arrow-up':searchShow}" ></i>
</md-button>
    </p>

  </div>


  <md-grid-list md-cols-sm="1" md-cols-md="5" md-cols-lg="7" md-cols-gt-lg="7" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px" md-row-height="100px">
    <md-grid-tile ng-repeat="tile in news" style="background-image:url('{{tile.main}}')" md-rowspan="{{rowSpan(tile.fav_nb)}}" md-colspan="{{colSpan(tile.fav_nb)}}">
      <div class="info">
        <md-button class="kitsukeButton md-fab md-warn md-mini" aria-label="Show Kitsuke" ng-click="modalKitsukeOpen($event, tile.main)">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </md-button>
        <img class="avatar" src="{{tile.avatar}}">
        <p>By <a class="name" href="#/tansu/{{tile.name}}">{{tile.name}}</a></p>
      </div>
    </md-grid-tile>
  </md-grid-list>
</section>
