<md-radio-group ng-model="item.sex">
  <md-radio-button value="male"> Male</md-radio-button>
  <md-radio-button value="female"> Female</md-radio-button>
</md-radio-group>

<md-input-container>
  <label>Kimono style ?</label>
  <md-select ng-model="kimonoStyle">
    <md-option value="furisode">Furisode</md-option>
    <md-option value="tomesode">Tomesode</md-option>
    <md-option value="houmongi">Houmongi</md-option>
    <md-option value="Iromuji">Iromuji</md-option>
    <md-option value="Komon">Komon</md-option>
    <md-option value="yukata">Yukata</md-option>
    <md-option value="kakeshita">Kakeshita</md-option>
    <md-option value="uchikake">Uchikake</md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Obi Style ?</label>
  <md-select ng-model="obiStyle">
    <md-option value="karu">Maru</md-option>
    <md-option value="fukuro">Fukuro</md-option>
    <md-option value="nagoya">Nagoya</md-option>
    <md-option value="hanhaba">Hanhaba</md-option>
    <md-option value="heko">Heko</md-option>
  </md-select>
</md-input-container>


<md-input-container>
  <label>What color ?</label>
  <md-select class="editColor" ng-model="colorItem">
    <md-option value="black">Black</md-option>
    <md-option value="grey">Grey</md-option>
    <md-option value="white">White</md-option>
    <md-option value="blue">Blue</md-option>
    <md-option value="purple">Purple</md-option>
    <md-option value="pink">Pink</md-option>
    <md-option value="red">Red</md-option>
    <md-option value="orange">Orange</md-option>
    <md-option value="yellow">Yellow</md-option>
    <md-option value="green">Green</md-option>
  </md-select>
</md-input-container>

<md-grid-list md-cols-sm="1" md-cols-md="5" md-cols-lg="7" md-cols-gt-lg="7" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px" md-row-height="100px">
  <md-grid-tile ng-repeat="tile in news" style="background-image:url('{{tile.main}}')" md-rowspan="{{rowSpan(tile.fav_nb)}}" md-colspan="{{colSpan(tile.fav_nb)}}">
    <md-button class="kitsukeButton md-fab md-warn md-mini" aria-label="Show Kitsuke" ng-click="modalKitsukeOpen(tile.main)">
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </md-button>
  </md-grid-tile>
</md-grid-list>
