	<div class="bigLogo"></div>
	  <section class="register">
	  <div class="wrapper">
	  	  <div class="titreRegister"><h2>You don't have a <span>Tansu</span> yet?</h2>
		<p>Open your kimono Wardrobe and explore other's kitskue.</p></div>
	  	<form>
		<input type="text" name="pseudo" placeholder="Login" ng-model="pseudo" required/>
		<input type="email" name="email" placeholder="E-mail" ng-model="mail"  required />
		<input type="password" name="password" placeholder="Password" ng-model="ps" />
		<input type="password" name="confPassword" placeholder="Confirme your password" ng-model="ps2" />
		<md-button class="md-raised md-warn" ng-click="register()" ng-if="ps2===ps && ps && pseudo && mail" >open my tansu</md-button>
		</form>
	  </div>

	  </section>
