	<div class="bigLogo"></div>
	  <section class="register">
	  <div class="wrapper">
	  	  <div class="titreRegister"><h2>You don't have a <span>Tansu</span> yet?</h2>
		<p>Open your kimono Wardrobe and explore other's kitskue.</p></div>
	  	<form>
		<input type="text" name="pseudo" placeholder="Login" ng-model="pseudo" />
		<input type="email" name="email" placeholder="E-mail" required />
		<input type="password" name="password" placeholder="Password" ng-model="ps" />
		<input type="password" name="confPassword" placeholder="Confirme your password" />
		<input type="submit" value="Open my Tansu" ng-click="register(pseudo, pw )" />
		</form>
	  </div>

	  </section>