<section class="profile">

	<h2>Your Profile</h2>
<p>
	http://www.tansu.jp/tansu/#/:{{profile.pseudo}}
</p>

	<div class="mainBlock avatarBlock">
		<div class="avatarContainer">
			<img ng-if='!imageSrc' src="{{profile.avatar}}">
			<img class="overview" ng-if='imageSrc' ng-src="{{imageSrc}}" />
		</div>
		<div>
			<input class="ng-hide" id="input-file-id" type="file" ng-file-select="onFileSelect($files)" my-var="imageSrc" />
			<label for="input-file-id" class="md-button md-raised md-warn">New Avatar</label>
		</div>
		<md-button ng-if='imageSrc' class="md-raised md-warn">OK</md-button>

	</div>


	<div class="mainBlock dataUser">
	     <md-input-container class="md-block" flex-gt-sm>
            <label>Pseudo</label>
            <input ng-model="profile.pseudo">
        </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>E-mail</label>
            <input ng-model="profile.mail">
          </md-input-container>
		<md-button class="md-raised md-warn">Update</md-button>
	</div>


	<div class="mainBlock stat">

		<p>Kimono : {{nb_kimono}}</p>
		<p>Obi : {{nb_obi}}</p>
		<p>Kitsuke : {{nb_kitsuke}}</p>
	</div>

		<div class="mainBlock bouton">

	<a href="#/tansu/:{{profile.pseudo}}/edit/newItem"><md-button class="md-raised md-warn">Add new item</md-button></a>
	<a href="#/tansu/:{{profile.pseudo}}/edit/newKitsuke"><md-button class="md-raised md-warn">Add new Kitsuke</md-button></a>
	<a href="#/tansu/:{{profile.pseudo}}/edit/rmItem"><md-button class="md-raised md-warn">Remove item</md-button></a>
	<a href="#/tansu/:{{profile.pseudo}}/edit/rmKitsuke"><md-button class="md-raised md-warn">Remove Kitsuke</md-button></a>
		</div>

</section>
