<h2>Glossary</h2>
<p>If you begin in the kimono field you may be a bit lost on your tansu. Here is a glossary to help you identified obi or kimono styles and motifs</p>

<h3>Kimono</h3>
Tomesode: One principale color and motif only on the bottom
Furisode : Long sleeves
Houmongi : Motif on bottom sleeves and shoulder
Iromuji : Non motif, one color
Komon : Little motif repeated
Yukata : Casual summer kimono
Kakeshita : Weeding coat wear above kimono
Uchikake : Weeding kimono

<h3>Obi</h3>
Maru
Fukuro
Nagoya
Hanhaba
Kaku
Heko

<h3>Kistuke</h3>

Juban
Haneri
Koshihimo
Ohashori
Otaiko
Yuzen
Shibori
Hakama
