<div class="glossary">
  <h2>Glossary</h2>
  <p>If you begin in the kimono field you may be a bit lost on your tansu. Here is a glossary to help you identified obi or kimono styles and motifs</p>
</div>
<div class="block">
  <h3>Kimono</h3>
  <p><strong>Tomesode:</strong> One principale color and motif only on the bottom</p>
  <p><strong>Furisode:</strong> Long sleeves</p>
  <p><strong>Houmongi:</strong> Motif on bottom sleeves and shoulder</p>
  <p><strong>Iromuji:</strong> Non motif, one color</p>
  <p><strong>Komon:</strong> Little motif repeated</p>
  <p><strong>Yukata:</strong> Casual summer kimono</p>
  <p><strong>Kakeshita:</strong> Weeding coat wear above kimono</p>
  <p><strong>Uchikake:</strong> Weeding kimono</p>
</div>
<div class="block">
  <h3>Obi</h3>
  <p><strong>Maru:</strong>Whole decorated</p>
  <p><strong>Fukuro:</strong>Partialié decorated </p>
  <p><strong>Nagoya:</strong>Casual obi wit a bigger part for the node</p>
  <p><strong>Hanhaba:</strong> For yukata</p>
  <p><strong>Kaku:</strong>For men</p>
  <p><strong>Heko:</strong>Soft casuale obi </p>
</div>
<div class="block">
  <h3>Kistuke</h3>
  <p><strong>Juban: </strong>Underwear</p>
  <p><strong>Haneri: </strong>Collar</p>
  <p><strong>Koshihimo: </strong>Fabric string used to close the kimono</p>
  <p><strong>Ohashori: </strong>Way to wear kimono for women</p>
  <p><strong>Otaiko: </strong>Most commun obi node</p>
  <p><strong>Yuzen: </strong> Way to dye kimono</p>
  <p><strong>Shibori: </strong>Way to dye kimono</p>
  <p><strong>Hakama: </strong> Large trouvers wear above kimono</p>
</div>
