<section class="news">
  <h2>News</h2>
  <p>Find all the news related to Tansu and kitsuke.</p>


  <div class="newsWrapper">
    <div class="newsBlock">
      <img src="images/profile/avatar_tansu_default-01.png">
      <div class="headerNews">
        <h3>Tansu in beta</h3>
        <p>23 - 06 - 2016</p>
      </div>
      <div class="bodyNews">
        <p>Tansu team is now testing the site to create the best network ever ! Stay tun , this will be legen ... DARY ! </p>
      </div>
    </div>
  </div>




  <div class="shareNews">
    <h3>Share a news</h3>
    <md-input-container>
      <label>Title</label>
      <input ng-model="news.title">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Description</label>
      <textarea ng-model="news.text" md-maxlength="400" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-raised md-warn" ng-click="share()">Share</md-button>
  </div>
</section>
