<section class="news">
  <h2>News</h2>
  <p>Find all the news related to Tansu and kitsuke.</p>

  <h4>Tansu finally open</h4>
  <p>blablabalbalba</p>


  <div class="shareNews">
    <h3>Share a news</h3>
    <md-input-container>
      <label>Title</label>
      <input ng-model="news.title">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Description</label>
      <textarea ng-model="news.text" md-maxlength="400" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-raised md-warn" ng-click="share()">Share</md-button>
  </div>
</section>
