
<section class="inlineSection rmItem">
	<h2>Remove item</h2>
	<p>Which one ? </p>
	<p>
		<md-radio-group ng-model="rmitem.sex">
			<md-radio-button value="male"> Male</md-radio-button>
			<md-radio-button value="female"> Female</md-radio-button>
		</md-radio-group>
		</p>

	<p>
		<md-radio-group ng-model="rmitem.what">
			<md-radio-button value="kimono"> Kimono</md-radio-button>
			<md-radio-button value="obi"> Obi</md-radio-button>
		</md-radio-group>

		</p>


	<md-input-container ng-show="rmitem.sex === 'female' && rmitem.what === 'kimono'" >
	 <label>Which Kimono ?</label>
		<md-select ng-model="typeKimonoRm">
			<md-option value="furisode">Furisode</md-option>
			<md-option value="tomesode">Tomesode</md-option>
			<md-option value="houmongi">Houmongi</md-option>
			<md-option value="Iromuji">Iromuji</md-option>
			<md-option value="Komon">Komon</md-option>
			<md-option value="yukata">Yukata</md-option>
			<md-option value="kakeshita">Kakeshita</md-option>
			<md-option value="uchikake">Uchikake</md-option>
		</md-select>
	</md-input-container>

	<md-input-container ng-show="rmitem.sex === 'male' && rmitem.what === 'kimono'" >
	 <label>Which Kimono ?</label>
		<md-select ng-model="typeKimonoRm">
			<md-option value="Iromuji">Iromuji</md-option>
			<md-option value="Komon">Komon</md-option>
			<md-option value="yukata">Yukata</md-option>
		</md-select>
	</md-input-container>

	<md-input-container ng-show="rmitem.sex === 'female' && rmitem.what === 'obi'" >
	 <label>Which obi ?</label>
		<md-select ng-model="typeObiRm">
			<md-option value="Maru">Maru</md-option>
			<md-option value="Fukuro">Fukuro</md-option>
			<md-option value="Nagoya">Nagoya</md-option>
			<md-option value="hanhaba">Hanhaba</md-option>
			<md-option value="heko">Heko</md-option>
		</md-select>
	</md-input-container>

	<md-input-container ng-show="rmitem.sex === 'male' && rmitem.what === 'obi'" >
	 <label>Which obi ?</label>
		<md-select ng-model="typeObiRm">
			<md-option value="kaku">kaku</md-option>
			<md-option value="heko">Heko</md-option>
		</md-select>
	</md-input-container>

	<div>

		<md-radio-group ng-if="typeKimonoRm && rmitem.what === 'kimono' " ng-model="rmItemIndex" ng-required="true">
			 <md-radio-button ng-repeat="kimono in profile.kimonos | filter:typeKimonoRm track by $index "
                       ng-value="$index"
                       aria-label="{{kimono.id}}">
				<img ng-src="{{kimono.main}}" />
			</md-radio-button>
		</md-radio-group>
		</div>
			<div>
		<md-radio-group ng-if="typeObiRm && rmitem.what === 'obi' " ng-model="rmItemIndex" ng-required="true">
			 <md-radio-button ng-repeat="obi in profile.obis | filter:typeObiRm track by $index "
                       ng-value="$index"
                       aria-label="{{obi.id}}">
				<img ng-src="{{obi.main}}" />
			</md-radio-button>
		</md-radio-group>
		</div>
		<div>
<md-button class="md-raised md-warn"> Delete </md-button>
</div>
		<a href="#/tansu/:{{profile.pseudo}}/edit">
	<md-button class=" back-button md-raised md-accent"> Back to edit </md-button>
	</a>

</section>
