
<section class="inlineSection rmItem">
	<h2>Remove item</h2>
	<p>Which one ? </p>
	<p>
		<md-radio-group ng-model="rmitem.sex">
			<md-radio-button value="male"> Male</md-radio-button>
			<md-radio-button value="female"> Female</md-radio-button>
		</md-radio-group>
		</p>

	<p>
		<md-radio-group ng-model="rmitem.what">
			<md-radio-button value="kimono"> Kimono</md-radio-button>
			<md-radio-button value="obi"> Obi</md-radio-button>
		</md-radio-group>
		
		</p>

	
	<md-input-container ng-show="rmitem.sex === 'female' && rmitem.what === 'kimono'" >
	 <label>Which Kimono ?</label>
		<md-select ng-model="typeKimonoRm">
		<md-option value="furisode">Furisode</md-option>
		<md-option value="tomesode">Tomesode</md-option>
		<md-option value="houmongi">Houmongi</md-option>
		<md-option value="Iromuji">Iromuji</md-option>
		<md-option value="Komon">Komon</md-option>
		<md-option value="yukata">Yukata</md-option>
		<md-option value="kakeshita">Kakeshita</md-option>
		<md-option value="uchikake">Uchikake</md-option>
		</md-select>
		</md-input-container>

	<select ng-show="rmitem.sex === 'male' && rmitem.what==='kimono'" ng-model="typeKimonoRm">
		<option value="Iromuji">Iromuji</option>
		<option value="Komon">Komon</option>
		<option value="Yukata">Yukata</option>
	</select>

	<select ng-show="rmitem.sex === 'female' && rmitem.what==='obi'" ng-model="typeObiRm">
		<option value="Maru">Maru</option>
		<option value="Fukuro">Fukuro</option>
		<option value="Nagoya">Nagoya</option>
		<option value="hanhaba">Hanhaba</option>
		<option value="heko">Heko</option>
	</select>

	<select ng-show="rmitem.sex === 'male' && rmitem.what==='obi'" ng-model="typeObiRm">
		<option value="hanhaba">Kaku</option>
		<option value="heko">Heko</option>
	</select>

		<div>
		<md-radio-group ng-if="typeKimonoRm" ng-model="rmItemIndex">
			 <md-radio-button ng-repeat="kimono in profile.kimonos | filter:typeKimono track by $index "
                       ng-value="$index"
                       aria-label="{{kimono.id}}">
				<img ng-src="{{kimono.main}}" />
			</md-radio-button>
		</md-radio-group>
		</div>

	<div class="itemImage" ng-if="rmitem.what==='obi'" ng-repeat="obi in profile.obis | filter:typeObiRm track by $index">
		<img src="{{obi.main }}" ng-class="obi.classRM" ng-click="isSelectedObiRm($index)">
	</div>
		<a href="#/tansu/:{{profile.pseudo}}/edit">
	<md-button class=" back-button md-raised md-accent"> Back to edit </md-button>
	</a>

</section>