 <div id="container">
		
		<div deckgrid source="collection" class="deckgrid">
		
		<flippy  class="fancy {{card.what}}"  ng-class="{'edition': card.isFirst}" flip="['mouseenter']"  flip-back="['mouseleave']"  duration="800"  timing-function="ease-in-out" >
		
			<flippy-front>
			<div class="a-card {{card.what}}" style="background-image:url('{{card.main}}')">
			</div>
			</flippy-front>
			<flippy-back >
			<div class="a-card {{card.what}}">
								
				<div class="photo" >
					<no-scope-repeat items='card.photos'></no-scope-repeat>
				</div>
				
				
	
			</div>
			</flippy-back>
		</flippy>

	</div>
</div>