<!DOCTYPE html>
<html ng-app="tansu">

<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Philosopher:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/nav.css">
	<link rel="stylesheet" type="text/css" href="css/modal.css">



	<!-- Meta -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="kimono collection manager" />
	<meta name="keywords" content="kimono, obi" />
	<title>Tansu : Your kimono shelf</title>

</head>

<body>
	<nav ng-controller="navController">
		<div class="titre"><img src="images/logo.png">
			<h1> Tansu </h1></div>
		<div class="not_connected" ng-if="!connexionAll">
			<p class="welcome">Welcome in your Tansu!</p>
			<form class="loginDesk" ng-submit="login(pseudo, password)">
				<p class="failMessage">{{message}}</p>
				<input type="text" name="pseudo" placeholder="Login" ng-class="{'fail':fail}" ng-model="pseudo" required />
				<input type="password" name="password" placeholder="Password" ng-class="{'fail':fail}" ng-model="password" required />
				<md-button class="md-raised md-warn" ng-click="login(pseudo, password)">Login</md-button>
				<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; opacity:0;">
			</form>
			<a href="#/login">
				<md-button class="md-raised md-warn loginPhone">Login</md-button>
			</a>
		</div>
		<div class="connected" ng-if="connexionAll">
			<p  class="welcome" >Welcome {{name}}!</p>
			<a class="ellipse" ng-click="toggleRight()"><i class="fa fa-ellipsis-h"></i> More </a>
			<a class="menuCo" href="#/{{name}}/browse"> <i class="fa fa-search"></i> Browse </a>

			<a class="menuCo" href="#/tansu/{{name}}/edit"> <i class="fa fa-pencil"></i> Edit </a>
		</div>
		<div class="sidenavContainer" layout="vertical" layout-fill>
			<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" flex>
				<md-toolbar md-theme="dark" class="md-dark-theme">
					<h1 class="md-toolbar-tools">More informations</h1>
					<md-button ng-click="close()" class=" md-fab md-primary md-mini">
						X
					</md-button>
				</md-toolbar>
				<md-content layout-padding>
					<a href="#/tansu/{{name}}/edit"	 class="menuPhone">
						<md-button class="md-accent"> Edit </md-button>
					</a>
					<a href="#/{{name}}/browse" class="menuPhone">
						<md-button class="md-accent"> Browse </md-button>
					</a>
					<a href="#/profile/{{name}}">
						<md-button class="md-accent"> My profile </md-button>
					</a>
					<a href="#">
						<md-button class="md-accent"> Favoris </md-button>
					</a>
					<a href="#/news">
						<md-button class="md-accent"> News </md-button>
					</a>
					<a href="#/glossary">
						<md-button class="md-accent"> glossary </md-button>
					</a>
					<a href="/tansu">
						<md-button class="md-accent"> Contact </md-button>
					</a>
					<a href="/tansu">
						<md-button class="md-accent">Donate </md-button>
					</a>
					<a href="/tansu">
						<md-button class="md-accent">Terms of use</md-button>
					</a>
					<a href="/tansu" ng-click="logout()">
						<md-button class="md-accent"> Logout </a>

				</md-content>
			</md-sidenav>
		</div>
	</nav>




	<div class="loading" ng-if="loading">
		<md-progress-circular ng-disabled="!vm.activated" class="md-warn" md-diameter="120"></md-progress-circular>
	</div>
	<section class="main_content" ng-view>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

	<script src="js/lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

	<script type="text/javascript" src="js/router.js"></script>
	<script type="text/javascript" src="js/controllers/nav.js"></script>
	<script type="text/javascript" src="js/controllers/connexion.js"></script>
	<script type="text/javascript" src="js/controllers/tansu.js"></script>
	<script type="text/javascript" src="js/controllers/edit.js"></script>
	<script type="text/javascript" src="js/controllers/news.js"></script>
	<script type="text/javascript" src="js/controllers/browse.js"></script>
	<script type="text/javascript" src="js/controllers/login.js"></script>

</body>

</html>
